<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
        {{#if loggedIn}}
        <button type="button" class="upvote-btn">upvote</button>
        {{/if}}
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
{{/if}}