<section class="edit-post-section">
    
    <article>
        <a href="/dashboard"> Back to dashboard</a>
    </article>

    <article class="edit-post-article">
        <h2>
            Edit Post
        </h2>
        <form class="edit-post-form">
            <div>
                <input name="post-title" type="text" value="{{post.title}}" />
            </div>
            <div>
                <input name="post-text" type="text" value="{{post.post_text}}" />
            </div>
            <button type="submit">Save post</button>
            <button type="button" class="delete-post-btn">Delete post</button>
        </form>
    </article>

</section>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
