<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{post.id}}">
        <h2>{{post.title}}</h2>
        <p>{{post.post_text}}</p>
        <p>{{user.username}}</p>
        </a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>