<nav>
    <a href="/pfpage/edit/">edit</a>
</nav>
<section>
    <div>
        <img src="./assets/images/user.png" alt="your profile pic" />
        <h2>Username</h2>
    </div>
    <article>
    <article>
        <h3>Bio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error vitae soluta nesciunt at aspernatur dolorum sequi. Cupiditate tenetur illo dolorem quis alias earum facilis animi, veritatis voluptates molestias? Ipsum, dolorum.</p>
    </article>
    <article>
        <h3>Skills</h3>
        <ul>
            <li>HTML</li>
            <li>JavaScript</li>
            <li>SQL</li>
        </ul>
    </article>
        <h3>Contact</h3>
        <div>
            <h4>Email: example@example.com</h4>
            <h4>Phone: (123) 456-7890</h4>
            <h4>Github: <a href="https://github.com/RochelleYounger" target="_blank">https://github.com/githubUsername</a></h4>
            <h4>LinkedIn: <a href="https://www.linkedin.com/in/rochelle-younger/" target="_blank">https://www.linkedin.com/in/linkedinUsername/</a></h4>
        </div>
    </article>
</section>